<h4>The service has been finalised</h4>
	<p>Please review reports</p>
<h4>Thank you!</h4>
<%= link_to 'Close the window', nil, :class => 'btn btn-danger', :id => 'close-services' %>
<script>
$('.ie7-navigational').hide();
$('.module_info').hide();
$('#close-services').click(function(){
  window.close()
})
</script>