<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Service canceled</h1>
    <p>
      <br/>
    </p>
    <p>User canceled the service: <%= @user.email %></p>
  </body>
</html>