<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  	Info about the fleet was updated by the person with <%= "#{@user.email}"%> email
    Thank you.
<%= @emails %>
  </body>
</html>