<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  	Info was updated by <%= "#{@user.email}"%>
    Thank you. We will keep in touch shortly.
  </body>
</html>