<tr>
	<td>
<b><%= f.label :main, "#{email_notification.notification.name}", :class => 'control-label' if !email_notification.notification.nil? %></b>
	</td>
	<td><%= check_box_tag "fields[#{email_notification.notification_id}][primary]", '1', email_notification.primary %></td>
	<td><%= check_box_tag "fields[#{email_notification.notification_id}][secondary]", '1', email_notification.secondary %></td>
	<td><%= collection_select email_notification, "fields[#{email_notification.notification_id}][interval]", @days, :last, :first if email_notification.notification.required_intervals %></td>
	</td>
</tr>