<%= form_for(target,
      remote: true, format: :json,
      html: { class: "edit-form form-inline" }) do |f| %>
  <div class="field">
    <%= f.text_field attribute, class: "edit-input #{css_class}" %>
    <%= spinner_tag %>
  </div>
<% end %>
