/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap-datepicker
 *= require bootstrap-timepicker
 */
.right{
	float: right;
}
.bottom{
	vertical-align: bottom;
}
.font-12px{
	font-size: 12px;
}
.navbar .nav > li > a {
    padding: 0 !important;
}
.top-menu-box{
	width: 790px;
	padding-right: 210px;
	
}
.navigational {
	background-image:url('level-2-background.png');
}
.module_info {
	height: 106px;
	padding-left: 320px;
	background-image:url('level-2-background.png');
}
.module_logo {
	width: 270px;
	position: absolute; 
	top: 47px; 
	right: 50px;
}
.due-header {
	background-image:url('due-header.png');
}
.due-count {
	background-image:url('due-count.png');
}
.overdue-header {
	background-image:url('overdue-header.png');
}
.table-header {
	width: 100%;
	background-image:url('common-header.png');
}
