// Place all the styles related to the Calendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/ 
#wrap {
	width: 1100px;
	margin: 0 auto;
	}

#external-events {
	float: left;
	width: 100%;
	border: 1px solid #ccc;
	background: #eee;
	text-align: left;
	height: 195px;
	overflow-y: auto;
	}
	
#external-events h4 {
	font-size: 16px;
	margin-top: 0;
	padding-top: 1em;
	}
	
.external-event { /* try to mimick the look of a real event */
	
	margin: 10px 0;
	padding: 2px 4px;
	background-image:url("table-row.png");
	color: black;
	font-size: .85em;
	cursor: pointer;
	}
.dropable-truck-fleet-class { /* try to mimick the look of a real event */
	margin: 10px 0;
	padding: 2px 4px;
	background: #0000A0;
	color: #fff;
	font-size: .85em;
	cursor: pointer;
	}
#id-repairer-table td, #id-truck-table td {
	background-color: #eee; color: black;
}
.reddish-border {
	border-collapse: collapse;
	border:5px solid #BD362F;
	border-radius: 4px 4px 4px 4px;	
	margin-bottom: 10px;
	behavior: url(PIE.htc);
}
.yellowish-border {
	border-collapse: collapse;
	border:5px solid #fdaf22;
	border-radius: 4px 4px 4px 4px;
}
.bluish-border{
	border-collapse: collapse;
	border:5px solid #216FC2;
	border-radius: 4px 4px 4px 4px;
}
.highlight-blue {
	background-color: #216FC2;
	color:white;
    background-image: linear-gradient(#216FC2);	
    padding: 10px 0px;
    font-size:16px; 
    font-weight:bold;
}
.highlight-red {
	background-color: #BD362F;
	color:white;
    background-image: linear-gradient(#BD362F);
    padding: 10px 0px;
    font-size:16px; 
    font-weight:bold;
}
.overdue-body { display:block; overflow-y:scroll; background-color: white; height: 180px}
.overdue-item { background-color: #EEEEEE; margin: 5px; padding: 5px; }
.highlight-yellow { background-color: #fdaf22; color:white; background-image: linear-gradient(#fdaf22); padding: 10px 0px; font-size:16px; font-weight:bold; }
.due{ background-color: #fdaf22; }
.overdue{ background-color: #B62C2C;}

#id-due-open, #id-overdue-open {
	cursor: pointer
}
#id-calendar{
   	background-color: #006DCC;
    background-image: linear-gradient(to bottom, #0088CC, #0044CC);
    border-radius: 4px 4px 4px 4px;
    padding: 10px 15px;
}
.bg-white { background-color:white; color:black; }
.current-month{ background-color: #ffe4c4; color:black; }
#id-due-items .table { margin-bottom: 0; }
#id-overdue-items .table { margin-bottom: 0; }
#id-overdue-items thead { margin:0px; cell-spacing:0px; left:0px; }
#id-overdue-items th { height:20px; width:70px; }
#id-overdue-items td { padding-right:37px;}
#id-due-items thead { margin:0px; cell-spacing:0px; left:0px; }
#id-due-items th { height:20px; width:70px; }
#id-due-items td { padding-right:37px; }
table { border-collapse: collapse; }
.space td { padding: 5px 20px 5px 20px; }
.next-tab { margin-left: 10px;}
.button-new-margin-left { margin-left: 590px; }

#id-calendar .fc-slot0 { height: 100px; }
#id-calendar .fc-slot1 { height: 100px; }
#id-calendar .fc-slot2 { height: 100px; }
#id-calendar .fc-slot3 { height: 100px; }
#id-calendar .fc-slot4 { height: 100px; }
#id-calendar .fc-slot5 { height: 100px; }
#id-calendar .fc-slot6 { height: 100px; }

#id-calendar .mtf-event-past { width: 200px !important; padding-left:10px; height: 16px !important; background-image:url('red-dot.gif'); background-repeat:no-repeat; background-position: left center; }
#id-calendar .mtf-event-future { width: 200px !important; padding-left:10px; height: 16px !important; background-image:url('orange-dot.gif'); background-repeat:no-repeat; background-position: left center; background-size: 10px;}