// Place all the styles related to the Calendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#wrap {
	width: 1100px;
	margin: 0 auto;
	}

#external-events {
	float: left;
	width: 100%;
	border: 1px solid #ccc;
	background: #eee;
	text-align: left;
	height: 195px;
	overflow-y: auto;
	}
	
#external-events h4 {
	font-size: 16px;
	margin-top: 0;
	padding-top: 1em;
	}
	
.external-event { /* try to mimick the look of a real event */
	
	margin: 10px 0;
	padding: 2px 4px;
	background-image:url("table-row.png");
	color: black;
	font-size: .85em;
	cursor: pointer;
	}
.dropable-truck-fleet-class { /* try to mimick the look of a real event */
	margin: 10px 0;
	padding: 2px 4px;
	background: #0000A0;
	color: #fff;
	font-size: .85em;
	cursor: pointer;
	}
#id-repairer-table td, #id-truck-table td {
	background-color: #eee; color: black;
}
.highlight-red {
	outline:5px solid red;
}
.highlight-yellow {
	outline:5px solid yellow;	
}
.due{
	background-color: yellow;
}
.overdue{
	background-color: '#B62C2C';
}
#id-due-open, #id-overdue-open {
	cursor: pointer
}
#id-calendar{
   	background-color: #006DCC;
    background-image: linear-gradient(to bottom, #0088CC, #0044CC);
    border-radius: 4px 4px 4px 4px;
    padding: 10px 15px;
}
.bg-white {
	background-color:white;
	color:black;
}
.current-month{
	background-color: #ffe4c4;
	color:black;
}
