<hr>
Need help? Contact our support team on <%= mail_to 'contact@sxtrailers.com.au' %><br />
Copyright @ SX Trailers
<div class='right'>
	<%= image_tag('MyTruckFleet/MyTruckFleet.png', :size => "150x100")  %>
</div>
