<% if user_signed_in? && current_user.admin? %>
	<span class='active-menu-my bold chinon-font-face blue font-56px'>My</span>
	<span class='active-menu-main bold chinon-font-face white font-56px'>Customers</span>	
<% elsif user_signed_in? %>
	<span class='active-menu-my bold chinon-font-face blue font-56px'><%= session[:active_menu][0..1] %></span>
	<span class='active-menu-main bold chinon-font-face white font-56px'><%= session[:active_menu][2..50] %></span>
	<%= puts session[:module_logo] %>
	<%= image_tag session[:module_logo], :size => "150x150", :class => "module_logo" if session[:module_logo].present? %>
<% end %>